.link {
  text-decoration: none;
}

.card {
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 150px 200px;
  grid-template-areas: 'image' 'text';
  border-radius: 18px;
  background: #a8e387;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: 'Orbitron', sans-serif;
  text-align: center;

  &_container-img {
    grid-area: image;
    margin-bottom: 20px;
  }

  &_img {
    width: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  &__text {
    grid-area: text;
    justify-content: flex-end;
    padding-top: 50px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
.text_title {
  margin-top: 60px;
  color: #25b78c;
}
.text_paragraph {
  font-family: 'Orbitron', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: black;
}
