@import './variables.scss';

.link {
  text-decoration: none;
}

.card {
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 150px 200px;
  grid-template-areas: 'image' 'text';
  border-radius: 18px;
  background: $brand-color-4;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: $textFont;
  text-align: center;

  @media all and (max-width: $displayM) {
    grid-template-columns: 150px;
    grid-template-rows: 130px 150px;
  }

  @media all and (max-width: $displayS) {
    grid-template-columns: 150px;
    grid-template-rows: 125px 135px;
  }

  &__container-img {
    grid-area: image;
  }

  &__img {
    width: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    @media all and (max-width: $displayM) {
      width: 150px;
    }
  }

  &__text {
    grid-area: text;
    justify-content: flex-end;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    &-title {
      margin-top: 60px;
      color: $brand-color-3;

      @media all and (max-width: $displayM) {
        margin-top: 30px;
        font-size: 14px;
      }

      @media all and (max-width: $displayS) {
        font-size: 13px;
      }
    }

    &-paragraph {
      font-family: $textFont;
      font-size: $defaultFontSize;
      font-weight: 500;
      color: $paragraph-color;

      @media all and (max-width: $displayM) {
        font-size: 13px;
      }

      @media all and (max-width: $displayS) {
        font-size: 11px;
      }
    }
  }
}
