@import './variables.scss';

.form {
  margin-top: 30px;

  &__input {
    width: 250px;
    height: 60px;
    background: transparent;
    color: $brand-color-1;
    font-family: $searchFont;
    font-weight: bold;
    border: none;
    border-bottom: 2px solid red;
    border-radius: 5%;
    background-image: url('../images/snowball_ico.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    text-align: left;
    padding-left: 60px;

    @media all and (max-width: $displayM) {
      width: 200px;
      height: 60px;
      background-image: url('../images/snowball_ico_s.png');
    }

    @media all and (max-width: $displayS) {
      width: 200px;
      height: 50px;
    }

    &::placeholder {
      text-align: center;
      padding-right: 30px;
      color: $brand-color-5;
      font-size: 18px;

      @media all and (max-width: $displayM) {
        padding-right: 25px;
        font-size: $defaultFontSize;
      }
    }
    &:focus {
      background-color: rgba(28, 129, 163, 0.6);
      font-size: 18px;

      @media all and (max-width: $displayM) {
        font-size: $defaultFontSize;
      }
    }
  }
}
