@import './variables.scss';

.warning {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  &__text {
    padding: 20px 50px;
    font-family: $textFont;
    font-size: 25px;
    font-weight: 500;
    color: $brand-color-1;

    @media all and (max-width: $displayM) {
      font-size: 20px;
    }

    @media all and (max-width: $displayS) {
      font-size: 15px;
    }
  }

  &__image {
    z-index: -1;
    width: 50vh;
    position: absolute;
    bottom: 0px;

    @media all and (max-width: $displayM) {
      width: 45vh;
    }

    @media all and (max-width: $displayS) {
      width: 30vh;
    }
  }
}
